body {
    background-color: pink;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}

.squareGrey {
  height: 50px;
  width: 50px;
  background-color: #555;
}

.squarePink {
  height: 50px;
  width: 50px;
  background-color: pink;
}

.squarePurple {
  height: 50px;
  width: 50px;
  background-color: purple;
}

.squareGreen {
  height: 50px;
  width: 50px;
  background-color: green;
}

.squareRed {
  height: 50px;
  width: 50px;
  background-color: red;
}